@import url('https://fonts.cdnfonts.com/css/happy-doodle');

body {
    background-color: #EDC7B7;
    background-image: url(backgroundNotebook.jpeg);
    background-size: 100%;
    font-family: 'HAPPY DOODLE', sans-serif;
    
}

.rounds {

    filter: blur(3px);
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.rounds-text {
    letter-spacing: 0.1;
    font-size: 48px;

}

.wins-text {


    font-size: 36px;

}



.game {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    width: 100%;
}

.left {
    height: 500px;
    width: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 50px;
    filter: blur(2px);

}

.right {
    height: 500px;
    width: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 50px;
    filter: blur(2px);
}

img {
    height: 75px;
    width: 75px;
    flex-shrink: 1;
    display: flex;

}

.left-image:hover {
    transform: scale(1.1);  
    
}

.left-image:active {
    transform: scale(.9);
}

.left-chosen-text {
    font-size: 28px;

}

.right-chosen-text {

    font-size: 28px;
}


.middle {


    display: flex;
    align-items: center;

}

.continue {
    height: 100px;
    width: 500px;
    font-family: 'HAPPY DOODLE', sans-serif;
    font-size: 36px;
    border: none;
    border-radius: 25px;
    backdrop-filter: blur(2px);

}

.continue:hover {
    transform: scale(1.05);

}

.continue:active {
    transform: scale(.95);


}